<%= column_chart Sentence.group_by_minute(:created_at).count %>
<br>

<table>
<% Sentence.group_by_minute(:created_at).count.each do |key, value| %>
	<tr>
		<td>
		<%= key %>
		</td>
		<td>
			<%= value %>
		</td>
	</tr>
<% end %>
</table>

<div id="sentences"></div>