<%= column_chart @sentences %>


<table>
	<tr>
			<td class="time" >Time</td>
			<td class="value" ># Created</td>
	</tr>
	
<% @sentences.each do |key, value| %>
	<tr class="ajax" >
		<td class="time">
		<%= key.to_time %>
		</td>
		<td class="value">
			<%= value %>
		</td>
	</tr>
<% end %>
</table>


<ul id="sentences">
	<h3>Sentences created within the 1 minute time span will appear here when you click a row in the table</h3>
</ul>